@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #00CCDD;
  --primary-color-dark: #4F75FF;
  --text-dark: #12110f;
  --text-light: #6b7280;
  --extra-light: #fbf7f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#video{
  object-fit: cover;
  width: 99%;
  height: 650px;
 
  border-radius: 8px;
}
.titre2{
  color: var(--text-light) !important;
  line-height: 1.5rem;
  font-size: 20px !important;
  padding: 15px !important;
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section_philo__container {
  max-width: var(--max-width);
  margin: auto;
}
.section__header {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  columns: var(--text-dark);
  text-align: center;
}

.section__description {
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.logo span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}


body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
 
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}
.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
  border-bottom: 1px solid var(--text-light);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  border-bottom: 1px solid var(--text-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-family: var(--header-font);
  font-weight: 600;
  white-space: nowrap;
  color: var(--text-light);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.header {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container h1 {
  margin: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
  line-height: 5rem;
  color: var(--primary-color);;
}

.header__container h1 span {
  font-size: 5.5rem;
}

.header__container p {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
}


.header__container form {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.header__container .input__group {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.header__container .input__group span {
  padding: 6px 10px;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.header__container input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.header__container .btn {
  width: 100%;
}

.feature__container {
  display: grid;
  gap: 1rem;
}

.feature__card {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 1px;
}

.feature__card img {
  max-width: 70px;
}

.feature__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.feature__card p {
  color: var(--text-light);
  line-height: 1.5rem;
}

.destination {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}



.destination__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
 
}

.destination__card {
  position: relative;
  isolation: isolate;
  justify-content: center;
  align-items: center;

}
.destination__card img{
    width: 100%;
    height: 400px;
}

.destination__content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.destination__card:hover .destination__content {
  opacity: 1;
}

.discount {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/randonn.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.discount__container {
  text-align: center;
}

.discount__container h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
}

.discount__container h2 span {
  font-size: 2rem;
}


  
  :root {
    --shadow-light-package: rgba(0, 0, 0, 0.2); 
  }
  
  
  [data-theme="dark"] {
    --shadow-dark-package: rgba(255, 255, 255, 0.3); 
  }
  
 
  .swiper-button-prev, .swiper-button-next {
    color: var(--swiper-button-color);
  }
  
  .swiper-pagination-bullet {
    background-color: var(--swiper-pagination-color);
  }
  




.swiper {
  width: 100%;
  padding-block: 4rem;
}

.swiper-slide {
  max-width: calc((var(--max-width) / 3) - 1.5rem);
}

.client__card {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}

.client__card {
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  
  :root {
    --shadow-light: rgba(0, 0, 0, 0.2); 
  }
  
  [data-theme="dark"] {
    --shadow-dark: rgba(94, 231, 255, 0.5); 
  }
  
  
  .client__card {
    box-shadow: 0 4px 8px var(--shadow-light);
  }
  
  [data-theme="dark"] .client__card {
    box-shadow: 0 4px 8px var(--shadow-dark);
  }
  
  [data-theme="dark"] .header__container p{
    box-shadow: 0 4px 8px var(--shadow-dark);
    
   
  }


  [data-theme="dark"] .section__container p{
    box-shadow: 0 4px 8px var(--shadow-dark);
    
   
  }

  [data-theme="dark"] .footer__col p{
    box-shadow: 0 0px 0px var(--shadow-dark);
  
  }
 
.client__card img {
  max-width: 80px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card span {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.client__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  line-height: 1.5rem;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-light);
}

.subscribe {
  padding-block: 5rem;
  background-color: var(--primary-color-dark);
}

.subscribe__container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.subscribe__container h2 {
  font-size: 2.75rem;
  font-weight: 200;
  font-family: var(--header-font);
  color: var(--white);
}

.subscribe__container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: var(--header-font);
  line-height: 1.75rem;
  color: var(--white);
}

.subscribe__container form {
  width: 100%;
  max-width: 450px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.subscribe__container input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col p {
  margin-block: 1rem;
  font-family: var(--header-font);
  color: var(--text-light);
  line-height: 1.5rem;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.25rem;
  color: var(--text-light);
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-family: var(--header-font);
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .feature__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
    border: none;
  }

  .feature__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  

  .subscribe__container {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .subscribe__container form {
    margin-inline-start: unset;
  }

  .subscribe__container p {
    max-width: 400px;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}





@media (width > 1024px) {
  .destination__grid {
    gap: 2rem;
  }

 
}



:root {
    --background-color: #fbf7f6;
    --text-color: #12110f;
    --header-background: #ffffff;
  }
  
 
  [data-theme="dark"] {
    --background-color: #12110f;
    --text-color: #8EACCD;
    --header-background: #333;
    --secondary-color: #FEF9D9;
    
  }



  
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  header {
    background-color: var(--header-background);
  }
  
  
  #theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s;
  }
  
  #theme-toggle i {
    transition: transform 0.3s;
  }
  
  [data-theme="dark"] #theme-toggle i {
    transform: rotate(180deg);
  }


  [data-theme="dark"] .footer p {
    color: white;
  }

  [data-theme="dark"] .footer h4 {
    color: white;
  }

  [data-theme="dark"] .footer #doLogo {
    color: white;
  }

  
  [data-theme="dark"] .footer #doLogo {
    color: white;
  }

  [data-theme="dark"] .nav__logo #doLogo {
    color: white;
  }





.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  animation: scaleUp 0.5s ease-in-out;
}
.popup-content p{
  margin: 16px;

}
.popup.hidden {
  display: none;
}


.popup .btn {
  background: #0a5a77;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.popup .btn:hover {
  background: #081d29;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

 